<h2>New contest</h2>
<% if flash[:notice] %><div class="error_box"><%= flash[:notice] %></div> <% end%>  
<% flash[:notice] = nil %>
<% form_for(@contest) do |f| %>
  <%= error_messages_for :object => [@contest, @contest_code] %>
 <fieldset>
    <dl>
      <dt><%= f.label :name %></dt>
      <dd><%= f.text_field :name %></dd>
    </dl>
    <dl>
      <dt><%= f.label :start_date %></dt>
      <dt><%= f.text_field :start_date, :class => "date-pick" %></dt>
      
    </dl>
    <dl>
      <dt><%= f.label :end_date %></dt>
      <dt><%= f.text_field :end_date, :class => "date-pick" %></dt>
      
    </dl>
  
    <dl>
      <dt><%= f.label :result_interval %></dt>
      <dt><%= f.text_field :result_interval %></dt>
    </dl>

     <dl>
      <dt><%= f.label :winners_per_result %></dt>
      <dt><%= f.text_field :winners_per_result %></dt>
    </dl>

     <dl>
      <dt><%= f.label :code_expires_in %></dt>
      <dt><%= f.text_field :code_expires_in %></dt>
    </dl>

     <dl>
      <dt><%= f.label :is_active %></dt>
      <dt1><%= f.check_box :is_active %></dt1>
    </dl>

    <% fields_for :contest_code do |code| %>
  
      <dl>
        <dt><%= code.label :code %><br /></dt>
        <dt><%= code.text_area :code, :size => "35X20" %></dt>
      </dl>
  
    <% end %>

  <dl><dt2><%= f.submit 'Create' %></dt2></dl>
  
  
  
</fieldset>

<% end %>
  <a href="/contests" class="bt_green"><span class="bt_green_lft"></span><strong>Back</strong><span class="bt_green_r"></span></a>



